<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark nav_menu fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="#">Nie-gotuj.pl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" th:href="@{/orders}">Strona główna</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
        <div class="row">
            <h2>Koszyk</h2>
        </div>
        <article class="media page_content" th:each = "item: ${session.cart}">
            <div class="media-body">
                <div>
                    <a class="author" th:text = "${item.order.restaurant}"></a>
                </div>
                <h2>
                    <a class="article_title" th:text = "${item.quantity}">x   </a>
                    <a class="article_title" th:text = "${item.order.product}"></a>
                </h2>
                <a class="btn btn-secondary btn-sm" th:href="${'/cart/remove/'+item.order.id}">Usuń</a>
            </div>
            <h6>Cena: <a th:text = "${item.order.price * item.quantity}"></a>0 zł</h6>
        </article>
        <br>
    <!--    <a th:href = "${'/cart/buy/' + order.id}">Kontynuuj zakupy</a>-->
        <a class="btn btn-info" th:href = "${'/orders'}">Kontynuuj zakupy</a>
    </div>
</body>
</html>