<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Złóż zamówienie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark nav_menu fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="#">Nie-gotuj.pl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" th:href="@{/orders}">Strona główna</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container">
        <a th:href = "@{/cart}" class="btn btn-info">Koszyk</a>
        <div class="row">
            <h2>Wybierz co chcesz zamówić</h2>
        </div>
        <article class="media page_content" th:each = "order: ${orders}">
            <div class="media-body">
                <div>
                    <a class="author" th:text = "${order.restaurant}"></a>
                </div>
                <h2><a class="article_title" th:text = "${order.product}"></a></h2>
                <a class="btn btn-success btn-sm" th:href="${'/cart/buy/'+order.id}">Kupuję</a>
            </div>
            <h6><a class="article_content" th:text = "${order.price}"></a>0 zł</h6>
        </article>
    </div>
</body>
</html>